@media only screen and (max-width:600px){
  .user {
    margin-right: 0.5vw;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 0px;
    height: 1.2em;
    white-space: nowrap;
    margin-left:7px
  }
}


nav {
  width: 100%;
  height: 80px;
  background-color: #753ff6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}

.navTitle {
  margin-left: 2.5vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navCP {
  margin-right: 2.5vw;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.cpLayout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginButton {
  display: flex;
  background: white;
  color: #753ff6;
  justify-content: space-between;
  padding: 16px 32px;
  margin: 0px 13px 0px 0px;
  border-radius: 12px;
  cursor: pointer;
}

.loginButton:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cpIcon {
  height: 4vh;
  width: auto;
  cursor: pointer;
}


.brandcolor {
  color: #753ff6;
  font-weight:600
}


@media only screen and (min-width:600px){
.user {
  margin-right: 0.5vw;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90px;
  height: 1.2em;
  white-space: nowrap;
  margin-left:7px
}
}