.postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .postContainer {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: calc(100vh - 80px);
    background-color: white;
  }
  
  .postTitle {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .postText {
    margin-left: 10vh;
    margin-right: 10vh;
    word-wrap: break-word;
    height: auto;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  