.primaryBtn{
    background-color: #753ff6;
    padding:19px 32px;
    color:white;
    border:none;
    outline:none;
    width:100%;
    margin:19px 0px 20px 0px;
    border-radius:30px;
    cursor:pointer;
    transition:background-color 2s ease
}


.disabled{
    background-color: #ebf0ef;
    padding:19px 32px;
    color:white;
    border:none;
    outline:none;
    width:100%;
    margin:19px 0px 0px 0px;
    border-radius:30px;
    transition:background-color 3s ease
}


.secondaryBtn{
    border:1px solid #753ff6;
    padding:19px 32px;
    color:#753ff6;
    outline:none;
    width:100%;
    margin:0px 0px 20px 0px;
    border-radius:30px;
    cursor:pointer;
    transition:background-color 2s ease;
    background: white;
}


.iconBtn{
    outline:0;
    padding:11px 12px 8px 12px;
    border:none;
    border-radius:50%;
    cursor: pointer;
}


.statusBtn{
    padding:15px 13px;
    outline:none;
    width:100%;
    margin:0px 0px 20px 0px;
    border-radius:12px;
    cursor:pointer;
    transition:background-color 2s ease;
    background: white;
}


.completed{
    border:1px solid #2ec76b;
    color:#2ec76b;
}

.pending{
    border:1px solid #f7c839;
    color: #f7c839;
}