.formContainer{ 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:400px;
    padding:30px 30px 20px 30px !important;
    border-radius:10px;
    margin:0px 0px 0px 0px;
    border:solid 1px rgb(0, 0, 0,0.1)
}


.description{
    font-size:14px
}


.userDetailsForm > * {
    margin:0px 0px 20px 0px
}


.hiddenForm{
    display: none;
  }


.cardDetails{
    display:flex;
    justify-content: space-between;
}


.cardDetails > *{
    margin:0px 10px 0px 0px
}